/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(209, 241, 241);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

#wrapper {
  margin: 0;
}
  
nav {
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
}

.navbar-brand {
  margin-left: 5px;
}

.navbar-collapse {
  margin-right: 5px;
}

.jumbotron {
  flex: 1 1 0;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  margin: 0;
}

.jumbotron-img {
  height: 300px;
  width: 100%;
}

#image-header {
  flex-direction: column-reverse;
}

.overlay-0 {
  flex-shrink: 1;
  position: absolute;
  /* margin-right: 10px; */
  top: 70%;
  /* left: 70%; */
  background-color: aqua;
  color: black;
  height: fit-content;
  width: fit-content;
  font-weight: bold;
  text-transform: uppercase;
  /* margin: 7px; */
  margin-left: auto;
  margin-right: 10px;
  padding: 5px;
  max-height: 50px;
}

.overlay {
  background-color: antiquewhite;
  color: black;
  height: 20%;
  margin-top: 60%;
  width: 75%;
  margin-left: 5%;
}

.work-row, .work-col, .container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
}

.custom-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0;
  /* margin-left: 0; */
  width: 100%;
}
.section-title {
  width: 30%; /* Adjust the width as needed */
  padding: 1rem;
  background-color: #f8f9fa; /* Light gray background for the title */
}
.card-body {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nested-card {
  max-width: 90%;
}

  /* header, nav, main, footer {
    margin: 20px;
  } */
  
  /* Responsive layout */
  @media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
  }
  
  /* Scroll behavior for navigation links */
  nav a {
    cursor: pointer;
  }
  
  /* Larger size for the first application image
  #work img:first-child {
    /* Add styles to make the first image larger */
  /* } */ 
  