/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(209, 241, 241);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
nav {
    color: white;
    width: 100%;
    padding: 10px;
}

.navbar-nav {
    /* align-self: flex-end; */
}

.jumbotron-img {
    height: 300px;
    width: 100%;
}

.overlay-0 {
  background-color: aqua;
  color: black;
  height: 20%;
  margin-top: 17%;
  width: 15%;
  margin-left: 72%;
  min-height: fit-content;
  min-width: fit-content;
}

.overlay {
    background-color: antiquewhite;
    color: black;
    height: 20%;
    margin-top: 75%;
    width: 75%;
    margin-left: 5%;
}


  /* header, nav, main, footer {
    margin: 20px;
  } */
  
  /* Responsive layout */
  @media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
  }
  
  /* Scroll behavior for navigation links */
  nav a {
    cursor: pointer;
  }
  
  /* Larger size for the first application image
  #work img:first-child {
    /* Add styles to make the first image larger */
  /* } */ 
  